* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Cafe24MeongiBlack';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-B-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900; /* Supports the full range of weights */
  font-display: swap;
  src: url('path-to-your-local-fonts/Inter-VariableFont_wght.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 5%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EEEBE1;
    transition: all 0.3s ease;
    z-index: 1000;
}

header.scrolled {
    background-color: rgba(238, 235, 225, 0.9);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow:
        0 8px 20px rgba(0,0,0,0.08);
}

body{
    background-color: #EEEBE1;
}

section {
    scroll-margin-top: 110px;
}

.about,
.skills,
.projects,
.contact {
    min-height: auto;
    padding: 80px 120px;
}

.logo {
    display: flex;
}

.logo a {
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 44px;
    margin-left: 400px;
}

.menu a {
    display: relative;
    font-family: 'Cafe24MeongiBlack', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 24px;
    transition: 0.3s;
}

.menu a:hover {
    color: #6E563F;
}

.contacticons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contacticons a {
    display: inline-flex;
    align-items: center;
}

.contacticons img {
    width: 35px;
    height: 35px;
    transition: 0.3s;
}

.contacticons img:hover {
    transform: scale(1.1);
}

.contacticons img{
    width: 35px;
    height: 35px;
    display: block;
}

.mainblock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 160px 160px 120px 160px;
    gap: 40px;
    justify-content: center;
    min-height: 55vh;
}

.mainphrase {
    align-items: center;
}

.mainphrase h1 {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 110px;
    color: #6E563F;
}

.mainphrase h2 {
    font-family: "Arial Bold", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 1px;
}

.profilepic img {
    object-fit: cover;
    transition: 0.3s;
}

.profilepic img:hover {
    transform: translateY(-5px);
}

.about {
    min-height: 100%;
    padding: 36px 140px 120px 140px;
}

.abouttitle {
    font-family: 'Cafe24MeongiBlack';
    font-size: 52px;
    font-weight: normal;
    color: #6E563F;
    text-align: center;
    margin-bottom: 32px;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
}

.about-intro {
    background-color: #F5F1E8;
    box-shadow: 0 20px 25px rgba(88, 71, 54, 0.08);
    border-radius: 28px;
    background-color: #F8F5EC;
    padding: 40px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.about-intro h2 {
    color: #6E563F;
    font-size: 36px;
    margin-bottom: 15px;
}

.about-intro p {
    font-size: 20px;
    line-height: 1.8;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.about-card {
    background-color: #F5F1E8;
    box-shadow: 0 20px 25px rgba(88, 71, 54, 0.08);
    border-radius: 28px;
    background-color: #F8F5EC;
    padding: 25px;
    font-family: 'Inter', sans-serif;
}

.about-card h3 {
    color: #6E563F;
    margin-bottom: 10px;
}

.about-card p {
    line-height: 1.6;
}

.skills {
    min-height: 100%;
    padding: 36px 140px 120px 140px;
    background-color: #EEEBE1;
}

.skilltitle {
    text-align: center;
    color: #6E563F;
    margin-bottom: 60px;
    font-family: 'Cafe24MeongiBlack';
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 32px;
}

.skillbox {
    max-width: 1000px;
    margin: 0 auto;
    padding: 45px;
    box-shadow: 0 20px 25px rgba(88, 71, 54, 0.08);
    border-radius: 28px;
    background-color: #F8F5EC;
    font-family: 'Inter', sans-serif;
}

.skillrow {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    margin-bottom: 30px;
}

.skillrow:last-child {
    margin-bottom: 0;
}

.skillrow h2 {
    color: #6E563F;
    font-size: 22px;
}

.skilltags ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0;
    padding: 0;
    background: transparent;
}

.skilltags li {
    padding: 10px 18px;
    border: 1.5px solid #6E563F;
    border-radius: 50px;
    color: #6E563F;
    font-weight: bold;
    background: transparent;
}

.skilltags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skilltags span {
    padding: 10px 18px;
    border: 1.5px solid #6E563F;
    border-radius: 50px;
    color: #6E563F;
    font-weight: bold;
    font-size: 15px;
}

.skilltags span:hover {
    background-color: #6E563F;
    color: #EEEBE1;
}

.projects {
    min-height: 100%;
    padding: 36px 140px 120px 140px;
    background-color: #EEEBE1;
}

.projecttitle {
    font-family: 'Cafe24MeongiBlack';
    font-size: 52px;
    font-weight: normal;
    color: #6E563F;
    text-align: center;
    margin-bottom: 32px;
}

.projectgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.projectcard {
    background-color: #F5F1E8;
    box-shadow: 0 20px 25px rgba(88, 71, 54, 0.08);
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.projectcard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 25px;
}

.projectcard h2 {
    color: #6E563F;
    font-size: 26px;
    margin-bottom: 15px;
    font-family: 'Cafe24MeongiBlack';
    font-weight: normal;
}

.projectcard p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.projecttags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;

}

.projecttags span {
    color: #6E563F;
    font-weight: bold;
}

.projectcard button {
    margin-top: auto;
    width: fit-content;
    padding: 12px 22px;
    border-radius: 12px;
    background: #6E563F;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.projectcard button:hover {
    transform: translateY(-5px);
}

.contact {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 36px 140px 0 140px;
}

.contacttitle {
    font-family: 'Cafe24MeongiBlack';
    font-size: 52px;
    font-weight: normal;
    color: #6E563F;
    padding-bottom: 8px;
}

.contactmessage {
    font-size: 16px;
    font-weight: lighter;
}

.contactrow {
    display: flex;
    gap: 20px;
    width: 700px;
    margin-top: 30px;
}

.inputgroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inputgroup label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.inputgroup input {
    padding: 15px;
    border: 2px solid #6E563F;
    border-radius: 12px;
    background: transparent;
}

.contentbox {
    width: 700px;
    margin-top: 20px;
}

.contentbox textarea {
    height: 180px;
    padding: 15px;
    border: 2px solid #6E563F;
    border-radius: 12px;
    resize: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
}

.contactsubmit {
    margin-top: 30px;
    padding: 16px 36px;
    background-color: #6E563F;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s;
}

.contactsubmit:hover {
    transform: scale(1.05);
}

footer {
    position: relative;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
}

.footer-wave {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.footer-content {
    position: absolute;
    right: 120px;
    bottom: 40px;
    color: #EEEBE1;
    background: transparent;
    font-family: 'Inter', sans-serif;
}